{% include "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block header %}
	<center><h1 style="color:blue;">Sri Krishna Arts and Science College - Autonomous</h1>
		<h2 style="color:blue;">KRICKBICCS 2K16 </h2>
		<h3 style="color:blue;">WORD HUNT</h3></center>

	<style type="text/css">
		body{
			background-image: url("{% static 'sd.jpg' %}");			
			background-repeat: no-repeat;
			background-position:center top;
		}
	</style>
{% endblock %}
{% block content %}
<div id="ele">
		<center>
		<h1>			
			<a href="{% url 'round3' 7 %}" id="show" >
			<button id="btn" type="link" onclick= "showStuff('ele','show','btn')">PART A</button></a>			
		</h1>	
		</center>
		
</div>

{% endblock %}